* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.erro {
    color: #f00;
}

.invalido {
    border-color: #f00;
}

.tela{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img {
    width: 150px;
}